<!DOCTYPE html>
<html lang="en">
  <%- include("partials/_head") %>

  <body>
    <h1>Hello World!</h1>
    <div class="row">
      <img src="https://placehold.it/2000x750&amp;text=1st">
    </div>

    <div class="row">
      <div class="column large-3">
        <h1>Cart</h1>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/300x200">
          <h5>Nulla At Nulla Justo, Eget</h5>
          <p>
            $400 <input type="number" value="20" /><a href="#" class="button">Update</a>
          </p>
        </div>
        <div class="column">
          <img class="thumbnail" src="https://placehold.it/300x200">
          <h5>Nulla At Nulla Justo, Eget</h5>
          <p>
            $400 <input type="number" value="20" /><a href="#" class="button">Update</a>
          </p>

        </div>
      </div>
      <div class="column large-9 small-up-2 large-up-3">
        <% for (var i=0; i < items.length; i++) { %>
        <div class="column">
          <img class="thumbnail" src="<%= items[i].image %>">
          <h5><%= items[i].name %></h5>
          <p>$<%= items[i].price %></p>
          <% if (items[i].weight === 1) { %>
            <p><%= items[i].weight %> lb</p>
          <% } else { %>
            <p><%= items[i].weight %> lbs</p>
          <% } %>
          <p><%= items[i].description %></p>
          <a href="#" class="button expanded">Buy</a>
        </div>
        <% } %>
      </div>

    </div>
  </body>
</html>
