<!DOCTYPE html>
<html lang="en">
  <%- include("partials/_head") %>

  <body>
    <!-- This is our big wide header photo and message, if you want -->
    <div class="row">
      <img src="/images/main.png" width="2000px" height="750px" class="main-img">
    </div>

    <!-- <div id="hypno"></div> -->

    <!-- CART -->
    <div class="row index-inventory">
      <div class="column large-3 cart">
        <h4 style="text-align: center">What's in My Cart?</h4>
        <div id="cart">
        </div>
      </div>


      <!-- INVENTORY -->
      <div id="inventory" class="column large-9 small-up-2 large-up-3">
        <h4> Try them all! </h4>
        <% items.forEach((item) => { %>
        <div class="column item" data-id="<%=item.id%>">
          <div class="item-inner">
            <img class="thumbnail preview" src="/images/products/<%= item.image %>">
            <h5><%= item.name %></h5>
            <div class="text">$<%= item.price %></div>
            <div class="text"><%= item.calories %> calories per serving</div>
            <% if (item.weight === 1) { %>
              <div class="text"><%= item.weight %> lb</div>
            <% } else { %>
              <div class="text"><%= item.weight %> lbs</div>
            <% } %>
            <div class="text"><%= item.description %></div>
            <div class="text">Quantity:
              <input type="number" id="add-quantity-<%=item.id%>" value="1"/>
            </div>
            <a href="#" class="button expanded addToCart">Add to cart</a>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
