<!DOCTYPE html>
<html lang="en">
  <%- include("partials/_head") %>

  <body>
    <!-- This is our big wide header photo and message, if you want -->
    <h1>Hello World!</h1>
    <div class="row">
      <img src="https://placehold.it/2000x750&amp;text=1st">
    </div>

    <!-- CART -->
    <div class="row">
      <div id="cart" class="column large-3">
        <h2 style="text-align: center">What's in My Cart?</h2>
        <% cart.forEach((item) => { %>
          <div class="row">
            <!-- <img class="thumbnail" src="<%= item.image %>"> -->
            <!--current stand in placeholder icons -->
            <img class="thumbnail" src="https://placehold.it/300x200">
            <h5><%= item.name %></h5>
            <p><%= item.quantity %></p>
            <p>$<%= item.price*item.quantity %></p>
            <div>
              <input type="number" value="1" /><a href="#" class="button changeItemQty">Change Quantity</a>
            </div>
          </div>
        <% }); %>
      </div>

      <!-- INVENTORY -->
      <div id="inventory" class="column large-9 small-up-2 large-up-3">
        <h2> Try them all! </h2>
        <% items.forEach((item) => { %>
        <div class="column item" data-id="<%=item.id%>">
          <!-- <img class="thumbnail" src="<%= item.image %>"> -->
          <img class="thumbnail" src="https://placehold.it/300x200">
          <h5><%= item.name %></h5>
          <p>$<%= item.price %></p>
          <p><%= item.calories %> calories per serving</p>
          <% if (item.weight === 1) { %>
            <p><%= item.weight %> lb</p>
          <% } else { %>
            <p><%= item.weight %> lbs</p>
          <% } %>
          <p><%= item.description %></p>
          <a href="#" class="button expanded addToCart">Add item to cart</a>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
