<html lang="en">
<%- include("partials/_head") %>
<header class="text-center">
    <h1> Manage Orders </h1>
</header>

<body>
  <div class="row">
    <div class="column large-7">
      <table>
        <thead>
          <tr>
            <th>Customer</th>
            <th>Time since Order</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <%
            orders.forEach( function(order, index) {
          %>
              <tr class="orders" data-order-id="<%=order.id%>" data-customer-id="<%=order.customer_id%>" data-start-time="<%=order.start_timestamp%>" data-end-time="<%=order.time_to_complete%>" data-status="<%=order.status%>">
                <td>
                  <%=order.name%>
               </td>
                <td>
                  <span data-livestamp="<%=order.start_timestamp%>"></span>
                </td>
                <td><%=order.total_price%></td>
                <td><%=order.status%></td>
              </tr>
          <%
            });
          %>
        </tbody>
      </table>
      <div class="secondary callout">
        Complete orders older than 30 minutes are hidden.
      </div>
    </div>

    <div class="column large-5" id="order_detail">
      <h3>Order Items</h3>
      <ul class="order-items row">
      </ul>

      <h3>Customer Information</h3>
      <div class="callout row">
        <div class="column small-3 text-center"><img class="thumbnail" src="/images/customer.png"></div>
        <div class="column small-9">
          <span id="customer-name">Bobby Jenkins</span><br />
          <span id="customer-phone">(342) 435-3723</span>
        </div>
      </div>

      <div class="text-right">
        <div>Due in <span id="dueTimer"></span></div>
        <button class="button" id="demo-time">
          Demo
        </button>
        <button class="button" id="minus-update-time">
          - 10 minutes
        </button>
        <button class="button" id="plus-update-time">
          + 10 minutes
        </button>
        <button class="button" id="complete">
          Complete Order
        </button>
      </div>

    </div>
  </div>

  <script type="text/javascript" src="/scripts/order_manage.js"></script>
</body>

</html>




















