<html lang="en">
<%- include("partials/_head") %>
<header class="text-center">
    <h1> Order Status </h1>
</header>

<body>
  <div class="row">
    <div class="column large-8">
      <div class="progress-bar"></div>
      <script>
        $(document).ready(function() {
          var bar = createProgressBar('.progress-bar',
            new Date(<%= order.start_timestamp.getTime() %>),
            new Date(<%= order.time_to_complete.getTime() %>));

          (function poll() {
            setTimeout(function() {
              $.ajax({
                url: "/api/orders/<%= order.order_id %>/progress",
                type: "GET",
                dataType: "json",
                timeout: 2000
              })
              .done(function(data) {
                bar.updateEndTime(new Date(data.time_to_complete));
              })
              .always(poll)
            }, 5000);
          })();
        })
      </script>
      <div class="row">
        <div class="medium-6 column">
          <%- include("partials/_maps") %>
        </div>
        <addr class="medium-6 column">
          (725) 352-3267<br />
          Nicholas Desmond Simon Graham<br />
          PO Box 1230<br />
          Georgetown<br />
          Grand Cayman<br />
          CAYMAN ISLANDS - UK
        </addr>
      </div>
    </div>
    
    <div class="column large-4">
      <% if (user === undefined) { %>
        <div class="sign-up-ad">
          Sign up for some awesome benefits!
          <button class="sign-up large expanded button">Sign Up</button>
        </div>
        
        <form class="sign-up-form" hidden="hidden" action="/register" method="POST">
          <h3>Sign up</h3>
          <label for="name"> Full Name</label>
          <input id="name" type="text" name="name" placeholder="Full Name"/>
          <label for="email"> Email</label>
          <input id="email" type="email" name="email" placeholder="Email"/>
          <label for="password"> Password</label>
          <input id="password" type="password" name="password" placeholder="Password"/>
          <input class="expanded button" type="submit" value="Sign up">
        </form>
      <% } %>
      <h2>Order Summary</h2>
      <div class="callout">
        <div>Order ID: <%= order.order_id %></div>
        <div>Customer Name: <%= order_customer.name %></div>
        <div>Total Price: $<%= order.total_price %></div>
        <div>Special Requests: <%= order.special_requests %></div>
      </div>
      <div class="order-items">
        <% console.log(order) %>
        <% order_items.forEach((item) => { %>
          <div class="callout">
            <div class="text-center">
              <img class="thumbnail text-center" src="/images/products/<%= item.image %>">
            </div>
            <h5><%= item.name %></h5>
            <p>Quantity: <%= item.qty %></p>
            <p>Price: $<%= item.price%></p>
            <p>Total price: $<%= item.price*item.qty %></p>
          </div>

        <% }); %>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/order-status.js"></script>
</body>

</html>
