<html lang="en">
<%- include("partials/_head") %>
<header class="text-center">
    <h1> Order Status </h1>
</header>

<body>
  <div class="row">
    <div class="column large-7">
      <div class="progress-bar" style="margin: 10rem 0;"></div>
      <script>
        $(document).ready(function() {
          var bar = createProgressBar('.progress-bar',
            new Date(<%= order.start_timestamp.getTime() %>),
            new Date(<%= order.time_to_complete.getTime() %>));
        })
      </script>
      <div class="row">
        <div class="medium-6 column">
          <%- include("partials/_maps") %>
        </div>
        <addr class="medium-6 column">
          (725) 352-3267<br />
          Nicholas Desmond Simon Graham<br />
          PO Box 1230<br />
          Georgetown<br />
          Grand Cayman<br />
          CAYMAN ISLANDS - UK
        </addr>
      </div>
    </div>
    
    <div class="column large-5">
      <% if (user === undefined) { %>
        <p>To save your favourites, create a new account!</p>
        <button class="large expanded button">Sign Up</button>

        <form hidden="hidden" action="/register" method="POST">
          <% for (var i=0; i < messages.length; i++) { %>
              <div class="alert callout"><%= messages[i] %></div>
          <% } %>
          <label for="name"> Full Name</label>
          <input id="name" type="text" name="name" placeholder="Full Name"/>
          <label for="email"> Email</label>
          <input id="email" type="email" name="email" placeholder="Email"/>
          <label for="password"> Password</label>
          <input id="password" type="password" name="password" placeholder="Password"/>
          <input class="expanded button" type="submit" value="Register">
        </form>
      <% } %>
    </div>
  </div>
</body>

</html>
